
/* The CSS reset was blocking out my use of some options like <h1> Why? */
/*-------------------------------------------------*/


* {
    /*outline: 1px solid black;*/
    /* height: 100%; */
    background: -webkit-linear-gradient(blue, white) no-repeat; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue, white) no-repeat; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, white) no-repeat; /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, white) no-repeat; /* Standard syntax */
}

#bizname {
	font-size: 3em;
	text-align: center;
	font-family: Times New Roman, Helvetica, Times;
	border: solid white 2px;	
}

ul {
	height: 75px;
	position: relative;
}

li {
	list-style-type: none;
	margin-top: 15px;
	margin-left: auto;
	display: inline-block;
	padding: 10px;
	position: absolute;
}

.bath {
	margin: auto;
}

table {
border: 2px solid black;
margin: auto;
}

td {
height: 300px;
width: 375px;
border: 1px solid black;
}

td img {
height: 245px;
margin: 0 auto;
display: block;
}

th {
font-size: 2em;
border: 1px solid black;
}
